.container{
    margin-top: 2em;
}

.transaction-details{
    border: 3px solid orange;
    background-color: rgb(80,80,80);
    color: white;
}
.Subtitle{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 1em auto 1em auto;
    color: orange;
}
.data{
    text-decoration: none;
    color: orange;
}
.transaction-info{
    margin-left: 2em;
    font-size: 1.3em;
    font-weight: 600;
}