<div class="container">

    <div class="row justify-content-center">
        <div class="col-8 Subtitle text-center">
            <fa-icon [icon]="faUniversity" class="BankIcon"></fa-icon>
            Panel rejestracyjny banku
            <fa-icon [icon]="faUniversity" class="BankIcon"></fa-icon>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 Dashboard text-center">
            <p class="bank-info">
                Nazwa banku:
            </p>
            <input type="text" placeholder="Nazwa banku" [(ngModel)]="bankName" class="Input-bank-data"/>
            <p class="bank-info">
                Numer banku:
            </p>
            <input type="text" placeholder="Numer banku" [(ngModel)]="bankNumber" class="Input-bank-data"/> <br>


            <button (click)="addBank()" class="add-bank-button">Dodaj bank</button>
        </div>
    </div>

</div>
