<div class="container">

    <div class="row justify-content-center">
        <div class="col-8 Subtitle text-center">
            Lista banków
            <fa-icon [icon]="faListUl" class="BankIcon"></fa-icon>
        </div>
    </div>

    <div class="banks-list">
        <div class="banks-list-header">
            <p class="title-column">
                Lp.
            </p>
            <p class="title-column">
                Nazwa banku
            </p>
            <p class="title-column">
                Nr banku
            </p>
        </div>


        <!-- rout żeby calośc prznosiła do bank-details-->
        <div class="banks-list-item">
            <p>
                <!-- {{i+1}} -->
                1
            </p>
            <p>
                Nazwa banku
            </p>
            <p>
                1234567890
            </p>
    
        </div>

    </div>

</div>
   
