<div class="container">

    <div class="row justify-content-center">
        <div class="col-8 Subtitle text-center">
            <fa-icon [icon]="faListUl" class="BankIcon"></fa-icon>
            Lista banków
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 Input-Box">
            <input type="text" class="search-input" />
        </div>
    </div>

    <div class="banks-list">
        <div class="banks-list-header">
            <p class="title-column">
                Lp.
            </p>
            <p class="title-column">
                Nazwa banku
            </p>
            <p class="title-column">
                Nr banku
            </p>
            <p class="title-column">
                Nr konta banku
            </p>
        </div>

        <div *ngFor="let bank of banks; index as i" [routerLink]="['/', 'bank-details', bank.id]" class="banks-list-item"> <!-- PRZEJŚCIE NA SZTYWNO!-->
            <div class="banks-list-item">
            <p>
                 {{i+1}} 
            </p>
            <p>
                 {{bank.name}} 
            </p>
            <p>
                 {{bank.bank_number}}
            </p>
            <p>
                PL34109010140000000000000000
            </p>
        </div>

    </div>

</div>

