<div class="container">

  <div class="row justify-content-center">
    <div class="col-8 Subtitle text-center">
      <fa-icon [icon]="faListOl" class="BankIcon"></fa-icon>
      Lista transakcji
    </div>
  </div>

  <div class="row justify-content-center">
      <div class="col-10 Dashboard">
        <p class="detail-info">
          Ilość transakcji odebranych:
          <span class="data">{{sumTransactionIncoming.length}}</span>
        </p>

        <p class="detail-info">
          Ilość transakcji wysłanych:
          <span class="data">{{sumTransactionOutgoing.length}}</span>
        </p>

        <p class="detail-info">
          Łączna ilość transakcji:
          <span class="data">{{sumTransaction}}</span>
        </p>

        <hr>

        <p class="detail-info">
          Suma kwot wysłanych:
          <span class="data">{{sumAmountsOutgoing}} PLN</span>
        </p>

        <p class="detail-info">
          Suma kwot odebranych:
          <span class="data">{{sumAmountsIncoming}} PLN</span>
        </p>

        <p class="detail-info">
          Łączna suma kwot:
          <span class="data">{{sumAmounts}} PLN</span>
        </p>
      </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 Input-Box">
      <input type="text" [(ngModel)]="search" class="search-input"/>
    </div>
  </div>

  <div class="transactions-list">
    <div class="transactions-list-header">
      <p class="title-column">
        Lp.
      </p>
      <p class="title-column">
        Bank nadawcy
      </p>
      <p class="title-column">
        Bank odbiorcy
      </p>
      <p class="title-column">
        Kwota
      </p>
      <p class="title-column">
        Status
      </p>
      <p class="title-column">
        Szczegóły
      </p>
    </div>

    <div *ngFor="let transaction of transactions | searchTransaction: search ; index as i" class="transactions-list-item">
      <p>
        {{i + 1}}
      </p>
      <p [routerLink]="['/', 'bank-details', transaction.debited_bank_id]">        
        Bank nadawcy
      </p>
      <p [routerLink]="['/', 'bank-details', transaction.credited_bank_id]">
        Bank odbiorcy
      </p>
      <p>
        {{transaction.amount}}
      </p>
      <p>
        {{transaction.status_id | translateStatus}}
      </p>
      <p [routerLink]="['/', 'transaction-details', transaction.id]">     
        Szczegóły
      </p>

    </div>

  </div>

</div>

