<nav class="navbar navbar-expand-lg navbar-light">
    <a class="Title" href="#">
        <fa-icon routerLink="/" [icon]="faCoins" class="BankIcon"></fa-icon>
         Jednostka rozliczeniowa
    </a>

    <!-- Toggle button jak ktoś będzie wiedział jak-->

    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Lista transakcji</a>
                <a class="nav-item nav-link" routerLink="/banks-list">Lista banków</a>          
            </div>
        </div>
    </div>

  </nav>



<!-- 
    1. transaction-list   --- Lista wszystkich transakcji, lp, nr banku (8 cyferek), data transakcji?, ilośc hajsu całkowitego, przejście do transfer details, typ1 obciążenie, type2 uznaniowy
    2. transfer-details --- wyświetlić jsona w zrozumiały sposób (z gita)
    3. bank-list --- lista banków, lp, nazwa banku (czy są w bazie)?, nr banku, szczegóły banku - bank info tutaj pewnie Piotrka zapytamy co trzeba

    Zrobić interfejsy*
-->