<div class="container">
  <div class="bank-details">

    <p class="Subtitle"> Dane banku </p>

    <p class="bank-info">Nazwa banku: <span class="data"> {{bank.name}} </span></p>

    <p class="bank-info">Numer banku: <span class="data"> {{bank.bank_number}} </span></p>

    <p class="bank-info">Numer rachunku banku: <span class="data"> {{bank.bank_account_number}} </span></p>

    <p class="Subtitle">Lista operacji banku</p>

    <p class="bank-info">Ilość transakcji odebranych: <span class="data">{{bank.credited_operations.length}}</span></p>
    <p class="bank-info">Łączna kwota transakcji odebranych: <span class="data"> {{credSum}} zł</span></p>
    <hr>
    <p class="bank-info">Ilość transakcji wysłanych: <span class="data">{{bank.debited_operations.length}}</span></p>
    <p class="bank-info">Łączna kwota transakcji wysłanych: <span class="data"> {{debtSum}} zł</span></p>
    <hr>
    <p class="bank-info">Łączna ilość transakcji: <span class="data">{{bankOperations.length}}</span></p>
    <p class="bank-info">Łączna kwota transakcji: <span class="data"> {{totalSum}} zł</span></p>

    <div class="bank-list">
      <div class="bank-list-header">
        <p class="title-column">
          Lp.
        </p>
        <p class="title-column">
          Nr konta nadawcy
        </p>
        <p class="title-column">
          Nr konta odbiorcy
        </p>
        <p class="title-column">
          Data transakcji
        </p>
        <p class="title-column">
          Kwota
        </p>
        <p class="title-column">
          Status
        </p>
      </div>
      <div [routerLink]="['/', 'transaction-details', operation.id]" class="bank-list-item" *ngFor="let operation of bankOperations; index as i">
        <p>
          {{i + 1}}
        </p>
        <p>
          {{operation.credited_account_number}}
        </p>
        <p>
          {{operation.debited_account_number}}
        </p>
        <p>
          {{operation.created_at}}
        </p>
        <p>
          {{operation.amount}}
        </p>
        <p>
          {{operation.status_id | translateStatus}}
        </p>

      </div>

    </div>
  </div>
</div>
