<div class="container">
  <div class="bank-details">

    <p class="Subtitle"> Dane banku </p>

    <p class="bank-info">Nazwa banku: <span class="data"> {{bank.name}} </span></p>

    <p class="bank-info">Numer banku: <span class="data"> {{bank.bank_number}} </span></p>

    <p class="bank-info">Numer rachunku banku: <span class="data"> {{bank.bank_account_number}} </span></p>

    <p class="Subtitle">Lista operacji banku</p>

    <p class="bank-info">Ilość transakcji odebranych: <span class="data"> 22</span></p>
    <p class="bank-info">Łączna kwota transakcji odebranych: <span class="data"> 22 zł</span></p>
    <hr>
    <p class="bank-info">Ilość transakcji wysłanych: <span class="data"> 22</span></p>
    <p class="bank-info">Łączna kwota transakcji wysłanych: <span class="data"> 22 zł</span></p>
    <hr>
    <p class="bank-info">Łączna ilość transakcji: <span class="data"> 22</span></p>
    <p class="bank-info">Łączna kwota transakcji: <span class="data"> 22 zł</span></p>

    <div class="bank-list">
      <div class="bank-list-header">
        <p class="title-column">
          Lp.
        </p>
        <p class="title-column">
          Nr konta nadawcy
        </p>
        <p class="title-column">
          Nr konta odbiorcy
        </p>
        <p class="title-column">
          Data transakcji
        </p>
        <p class="title-column">
          Kwota
        </p>
        <p class="title-column">
          Status
        </p>
      </div>
      <!-- rout żeby calośc prznosiła do transaction-details-->
      <div class="bank-list-item" *ngFor="let operation of bankOperations; index as i">
        <p>
          {{i + 1}}
        </p>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <p>
          {{operation.status.name}}
        </p>

      </div>

    </div>
  </div>
</div>
