<div class="container">
    <div class="transaction-details">

        <p class="Subtitle"> Szczegóły transakcji</p>

        <p class="transaction-info">Typ: <span class="data"> data (uznanie/obciążenie)? </span></p>

        <p class="transaction-info">Numer konta nadawcy: <span class="data"> data </span></p>

        <p class="transaction-info">Numer konta odbiorcy: <span class="data"> data </span></p>

        <p class="transaction-info">Data transakcji: <span class="data"> data </span></p>

        <p class="transaction-info">Data aktualizacji: <span class="data"> data </span></p>

        <p class="transaction-info">Kwota: <span class="data"> data </span></p>

        <p class="transaction-info">Status: <span class="data"> data </span></p>
        
        <p class="transaction-info">--------------------- Nie wiemy czy jest potrzebne</p>

        <p class="transaction-info">Nazwa banku: <span class="data">Bank A lub B</span></p>
        <p class="transaction-info">Numer rachunku banku : <span class="data">numer banku</span></p>

    </div>
</div>