<nav class="navbar navbar-expand-lg navbar-light">
    <a routerLink="/" class="Title" href="#">
        <fa-icon [icon]="faCoins" class="BankIcon"></fa-icon>
         Jednostka rozliczeniowa
    </a>

    <!-- Toggle button jak ktoś będzie wiedział jak-->

    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Lista transakcji</a>
                <a class="nav-item nav-link" routerLink="/banks-list">Lista banków</a>
                <a class="nav-item nav-link" routerLink="/add-bank">Dodaj bank</a>           
            </div>
        </div>
    </div>

  </nav>

