.navbar{
    background-color: rgb(40,40,40);
    border: 2px solid black;
}
.Title{
    font-size: 2em;
    font-weight: bold;
    color: orange;
    padding-left: 1em;
    
}
a{
    text-decoration: none;
}
.nav-item{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 185, 56) !important;
    padding: 0.5em; 
}
.nav-item:hover{
    color: white !important; 
}

.BankIcon{
    color: orange;
    font-size: 1.2em;
    // margin: 0 0.1em 0 0.5em;
}


