<div class="container">

  <div class="row justify-content-center">
    <div class="col-8 Subtitle text-center">
      <fa-icon [icon]="faListOl" class="BankIcon"></fa-icon>
      Lista transakcji
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 Input-Box">
      <input type="text" class="search-input"/>
    </div>
  </div>

  <div class="transactions-list">
    <div class="transactions-list-header">
      <p class="title-column">
        Lp.
      </p>
      <p class="title-column">
        Nr konta nadawcy
      </p>
      <p class="title-column">
        Nr konta odbiorcy
      </p>
      <p class="title-column">
        Data transakcji
      </p>
      <p class="title-column">
        Kwota
      </p>
      <p class="title-column">
        Status
      </p>
    </div>


    <!-- rout żeby calośc prznosiła do transaction-details-->
    <div *ngFor="let transaction of transactions; index as i"
         [routerLink]="['/', 'transaction-details', transaction.id]" class="transactions-list-item">
      <p>
        {{i + 1}}
      </p>
      <p>
        {{transaction.payer_account_number}}
      </p>
      <p>
        {{transaction.recipient_account_number}}
      </p>
      <p>
        {{transaction.created_at}}
      </p>
      <p>
        {{transaction.amount}}
      </p>
      <p>
        {{transaction.status.name}}
      </p>

    </div>

  </div>

</div>

