.Subtitle{
    color: rgb(255, 197, 88);
    font-size: 1.7em;
    font-weight: 600;
    padding: 2em 0.5em 0.7em 0.5em;
    cursor: default;
}

.transactions-list{
    border: 3px solid orange;
    background-color: rgb(100, 100, 100);
    text-align: center; 
    margin: auto;
}

.transactions-list-header,
.transactions-list-item{
    display: grid;
    grid-template-columns: 1fr 8fr 6fr 5fr 3fr;
    padding: 0.5em;
    margin: auto;
}

.transactions-list-header{
    cursor: default;
    
}

.transactions-list-item{
    background-color: rgb(70,70,70);
    color: rgb(245,245,245);
    font-size: 1.1em; 
    border-top: 1px solid rgb(255, 197, 88);
    border-bottom: 1px solid rgb(255, 197, 88);  
}

.transactions-list-item:hover{
    background-color:  rgb(90, 90, 90);
    font-weight: bold;
    cursor: pointer;
}  

.title-column{
    color: rgb(255, 197, 88);
    font-weight: 600;
    font-size: 1.3em;
} 

p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
