<div class="container">
    <div class="bank-details">

        <p class="Subtitle"> Dane banku </p>

        <p class="bank-info">Nazwa banku: <span class="data"> data </span></p>

        <p class="bank-info">Numer banku: <span class="data"> data </span></p>

        <p class="bank-info">Numer rachunku banku: <span class="data"> data </span></p>

        <p class="Subtitle">Lista operacji banku</p>

        <div class="bank-list">
            <div class="bank-list-header">
                <p class="title-column">
                    Lp.
                </p>
                <p class="title-column">
                    Nr konta nadawcy
                </p>
                <p class="title-column">
                    Nr konta odbiorcy
                </p>
                <p class="title-column">
                    Data transakcji
                </p>
                <p class="title-column">
                   Kwota
                </p>
                <p class="title-column">
                    Status
                 </p>
            </div>
            <!-- rout żeby calośc prznosiła do transaction-details-->
            <div class="bank-list-item">
                <p>
                    <!-- {{i+1}} -->
                    1
                </p>
                <p>
                    65106000760000320000057153
                </p>
                <p>
                    34109024022245689732716282
                </p>
                <p>
                    16-12-2020
                </p>
                <p>
                   +200 PLN
                </p>
                <p>
                   Odebrano
                </p>
        
            </div>

    </div>
</div>